.btn {
    display: inline-block;
    font-weight: bold;
    color: #404040;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0 1.75rem;
    font-size: 1rem;
    line-height: 44px;
    border-radius: 0;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.btn {
    position: relative;
    height: 44px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border: 0;
    font-size: .75rem;
    letter-spacing: .1em;
    cursor: pointer;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.btn-primary {
    font-weight: bold;
    color: #fff;
    background-color: #ac32e4;
    border-color: #ac32e4;
    overflow: hidden;
}

.btn-primary:hover {
    background: #ac32e4;
    -webkit-box-shadow: 0 12px 18.8px 1.2px rgba(170,50,228,0.24);
    box-shadow: 0 12px 18.8px 1.2px rgba(170,50,228,0.24);
    color: #fff;
}

.btn-primary:hover::after {
    left: -80px;
}

.btn-primary::after {
    background-color: #a02fd4;
    position: absolute;
    top: -20%;
    left: -43px;
    width: 50px;
    height: 200%;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transition: left .25s ease-in-out;
    transition: left .25s ease-in-out;
    content: '';
    z-index: -1;
}

.btn-primary > i {
    vertical-align: middle;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  opacity: 0.5;
}

.themevision-upsell {
	padding: 21px;
	border-radius: 3px;
	background: #fff;
}

.themevision-upsell .upsell-pro-label {
	margin-right: 10px;
	padding: 2px 6px 2px 7px;
	border-radius: 3px;
	color: #fff;
	background: #ac32e4;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}

.themevision-upsell-features li {
	margin-bottom: 23px;
	font-size: 14px;
}

.themevision-upsell-features li:last-child {
	margin-bottom: 0;
}

.themevision-upsell .button {
	width: 100%;
	margin-right: 21px;
	text-align: center;
	letter-spacing: 0.2px;
}

.themevision-upsell hr {
	margin-top: 22px;
	margin-bottom: 16px;
}

.themevision-upsell-feature-list li:before {
	line-height: 37px;
}

.themevision-upsell-feature-list li {
	margin-bottom: 6px;
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
}

.themevision-upsell-feature-list li:last-child {
	margin-bottom: 0;
}

.slider-sections-upsell {
	padding: 10px 10px 11px 14px;
}

.themevision-boxed-section {
	margin: 12px;
}

.upsell-pro-label:before {
	content: "pro";
}

.control-section-agama-theme-info {
    height: 66px;
}

.control-section-agama-theme-info h3 {
    text-align: center;
}

.control-section-agama-theme-info .accordion-section-title .button {
    text-transform: uppercase;
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-agama-theme-info .accordion-section-title .button {
    text-transform: uppercase;
    margin-left:  0;
    margin-right: 8px;
}
